[Desktop Entry]
Name=TheMostStupidSimpSimulator
Exec=TheMostStupidSimpSimulator
Type=Application
Icon=io.github._2D_girls_enjoyer.TheMostStupidSimpSimulator
Categories=Game;
Comment=Headpat and treat who you simp for
StartupNotify=true